@import "../settings";
.l-header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;
  z-index: 1;
  background-color: $white;
 border-bottom: 1px rgba($light-gray, 0.3) solid;
}

.l-main {
  margin-top: $header-height;
  min-height: calc(100% - #{$header-height});
}
