@import "settings";

.title-heading {
  font-weight: 300;
  font-size: 22px;
  color: $light-gray;
  font-family: $font-family-1;
}

.title-heading-bold {
  font-size: 32px;
  color: $blue-gray;
  font-family: $font-family-2;
  margin: 0;
}

.text-content {
  font-size: 16px;
  color: $gray;
  font-family: $font-family-1;

  &.-light {
    color: $light-gray;
  }
}

.light-subtitle {
  font-size: 28px;
  color: $light-gray;
  font-family: $font-family-1;
  font-weight: 300;
}

a {
  color: $blue;
  text-decoration: none;
  cursor: pointer;
  font-weight: 300;
  font-family: $font-family-1;
}
