// layout
$header-height: 5vh;

// colors
$white: #fff;
$gray: #333333;
$light-gray: #989898;
$blue: #4198fc;
$yellow: #fdcc6c;
$blue-gray: #252e3a;
$pale-yellow: #d5d864;

// fonts
$font-family-1: 'gudea', sans-serif;
$font-family-2: 'karla', Helvetica, sans-serif;
